<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>회원가입페이지</h1>
<hr>
<!--get select ? 쿼리스트링으로 날아감(주소창)-->
<!--post insert x form 으로 날아간다 바디에 담아서-->
<!--버튼의 submit 은 action을 실행  안에 만들면 defalut 값 submit-->
<!--form태그 밖에 넣으면 defalut 값 button-->
<form action="/join" method="post">
    <input type="text" name="username" placeholder="username" required maxlength="8">
    <input type="password" name="password" placeholder="password" required>
    <input type="email" name="email" placeholder="email" required>
    <button>회원가입</button>
</form>
</body>
</html>