<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>로그인 페이지입니다</h1>
<!--required : 인풋태그창에 비어있으면 경고창으로 알려줌-->
<!--name : Key값-->

<form action="/loginformtest" method="post">
    <input type="text" name="username" required placeholder="유저네임">
    <input type="password" name="password" required placeholder="패스워드">
    <input type="email" name="email" required placeholder="이메일">
    <button>submit</button>
</form>
</body>
</html>