<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--FORM 태그안에 넣어서 만들면 디폴트값 : submit = FORM태그안 action 실행시켜주는 버튼-->
<!--FORM 태그밖에 만들면 디폴트값 : button = action 실행되지않음-->


<h1>테스트 로그인 홈페이지입니다</h1>
<form action="/testjoin" method="post">
    <input type="text" name="username" placeholder="username" required maxlength="8">
    <input type="password" name="password" placeholder="password" required>
    <input type="email" name="email" placeholder="email" required>
    <button>회원가입</button>
</form>
</body>
</html>